.topMargin {
  margin-top: 0.5em;
}
.form-group {
  margin-bottom: 0px;
}
.switchContainer {
  padding-left: 0;
}
.ace_editor {
  height: 18em;
}
.logContainer {
  height: 9em;
  overflow-y: scroll;
  font-family: monospace;
}
p.logs {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}
p.logs .success {
  font-weight: bold;
  color: green;
  display: inline-block;
  width: 7em;
}
p.logs .error {
  font-weight: bold;
  color: firebrick;
  display: inline-block;
  width: 7em;
}
.panel {
  margin-bottom: 8px;
}
.panel-heading {
  padding: 4px 15px;
}
.panel-body {
  padding: 8px;
}
.nav>li>a {
  padding: 2px 13px;
}
.filesPerPoll,
.pollingInterval {
  padding-left: 0;
  padding-right: 0;
}
