<!doctype html>
<html ng-app="wtfApp">
  <head>
    <meta charset="utf-8">
    <title>WtF.js - Javascript Watchfolder Processor</title>

    <!-- Styles -->
    <link href="./node_modules/angular-ui-switch/angular-ui-switch.min.css" rel="stylesheet" type="text/css">
    <link href="./styles/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="./styles/main.css" rel="stylesheet" type="text/css">

    <!-- Scripts giving you few extra things in NW.js -->
    <script src="vendor/nw-boilerplate/window_state.js"></script>
    <script src="vendor/nw-boilerplate/context_menu.js"></script>
    <script src="vendor/nw-boilerplate/external_links.js"></script>
    <script src="vendor/nw-boilerplate/dev_helper.js"></script>
    <script src="vendor/nw-boilerplate/env_config.js"></script>

    <!-- Libs -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-ui-bootstrap/ui-bootstrap.min.js"></script>
    <script src="node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="node_modules/angular-ui-switch/angular-ui-switch.min.js"></script>
    <script src="node_modules/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="node_modules/ace-builds/src-min-noconflict/ext-language_tools.js"></script>
    <script src="node_modules/angular-ui-ace/src/ui-ace.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>

    <!-- Custom scripts -->
    <script src="scripts/menus.js"></script>
    <script src="scripts/app.js"></script>

  </head>
  <body>

    <div class="container-fluid" ng-controller="wtfCtrl">

      <!-- TOP ROW (WATCHFOLDER CONF) -->
      <div class="row topMargin">
        <div class="col-sm-11">
          <h3 class="app-title">
            <span class="glyphicon glyphicon-folder-close"></span>
            <span class="glyphicon glyphicon-menu-right"></span>
            <span class="glyphicon glyphicon-folder-open"></span>
            &nbsp;&nbsp;WtF.js Watch that Folder!
          </h3>
          <div class="panel panel-primary" id="config">
            <div class="panel-heading">
              <h3 class="panel-title">Config</h3>
            </div>
            <div class="panel-body">
              <form role="form" class="row">

                <div class="col-sm-10">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="input-group">
                          <span class="input-group-addon">Watch:</span>
                          <input class="form-control input-sm" type="text" ng-model="watchFolderPath" ng-disabled="wtfActive" />
                          <span class="input-group-btn"><button ng-click="updatePath('watchFolderPath')" ng-disabled="wtfActive" class="btn btn-primary btn-sm">...</button></span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="input-group">
                          <span class="input-group-addon">Process:</span>
                          <select class="form-control input-sm" ng-model="processingOrder" ng-disabled="wtfActive">
                            <option value="name">By filename</option>
                            <option value="date">By creation date</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="input-group">
                          <span class="input-group-addon">Treated:</span>
                          <input class="form-control input-sm" type="text" ng-model="treatedPath" ng-disabled="wtfActive" />
                          <span class="input-group-btn"><button ng-click="updatePath('treatedPath')" ng-disabled="wtfActive" class="btn btn-primary btn-sm">...</button></span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="input-group">
                          <span class="input-group-addon">Processed:</span>
                          <input class="form-control input-sm" type="text" ng-model="processedPath" ng-disabled="wtfActive" />
                          <span class="input-group-btn"><button ng-click="updatePath('processedPath')" ng-disabled="wtfActive" class="btn btn-primary btn-sm">...</button></span>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="col-sm-2">

                  <span class="label label-default">Files per poll:</span>
                  <div class="input-group">
                    <span class="input-group-btn" ng-click="minus('filesPerPoll', 1, 50, 1)"><button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-minus"></span></button></span>
                    <input type="text" class="form-control input-sm text-center filesPerPoll" ng-model="filesPerPoll" ng-disabled="wtfActive" />
                    <span class="input-group-btn" ng-click="plus('filesPerPoll', 1, 50, 1)"><button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span></button></span>
                  </div>

                  <span class="label label-default">Interval (secs):</span>
                  <div class="input-group">
                    <span class="input-group-btn" ng-click="minus('pollingInterval', 1, 50, 1)"><button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-minus"></span></button></span>
                    <input type="text" class="form-control input-sm text-center pollingInterval" ng-model="pollingInterval" ng-disabled="wtfActive" />
                    <span class="input-group-btn" ng-click="plus('pollingInterval', 1, 50, 1)"><button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span></button></span>
                  </div>

                </div>

              </form>
            </div>
          </div>
        </div>

        <div class="col-sm-1 switchContainer">
          <form class="form-horizontal" role="form">
            <label for="switch" class="onoffLabel">
              <span class="label label-default">ON/OFF:</span>
            </label>
            <!-- FEAT enhance here https://github.com/xpepermint/angular-ui-switch -->
            <switch id="enabled" name="enabled" ng-model="wtfActive" ng-change="changeState()" class="green" id="switch" on="On" off="Off"></switch>

            <label for="switch" class="onoffLabel">
              <span class="label label-default">Logs:</span>
            </label>
            <!-- FEAT enhance here https://github.com/xpepermint/angular-ui-switch -->
            <switch id="enabled" name="enabled" ng-model="logsVisible" class="blue" id="switch" on="On" off="Off"></switch>
          </form>
        </div>

      </div>

      <!-- MIDDLE ROW (EDITORS) -->
      <div class="row" ng-hide="logsVisible">
        <div class="col-sm-12">
          <div class="panel panel-primary" id="ProcessingPanel">
            <div class="panel-heading">
              <span class="btn btn-xs pull-right" ng-click="openModal('codeInfo')"><span class="glyphicon glyphicon-info-sign"></span></span>
              <h3 class="panel-title">Processing</h3>
            </div>
            <div class="panel-body">
              <uib-tabset>
                <uib-tab heading="Javascript" active="code.jsActive">
                  <div ng-model="code.jsCode" ng-readonly="wtfActive" ui-ace="{
                    onLoad : code.jsAceLoaded,
                    onChange : code.jsAceChanged,
                    useWrapMode : false,
                    showGutter: true,
                    theme:'twilight',
                    mode: 'javascript'
                  }"></div>
                </uib-tab>
                <uib-tab heading="XLST" active="code.xlstActive">
                  <div ng-model="code.xlstCode" ng-readonly="wtfActive" ui-ace="{
                    onLoad : code.xlstAceLoaded,
                    onChange : code.xlstAceChanged,
                    useWrapMode : false,
                    showGutter: true,
                    theme:'twilight',
                    mode: 'xml'
                  }"></div>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
        </div>
      </div>

      <!-- BOTTOM ROW LOGS -->
      <div class="row" ng-show="logsVisible">
        <div class="col-sm-12">
          <div class="panel panel-primary" id="LogsPanel">
            <div class="panel-heading">
              <span class="btn btn-xs pull-right" ng-click="clearLogs()"><span class="glyphicon glyphicon-erase"></span></span>
              <h3 class="panel-title">Logs ({{logs.length}})</h3>
            </div>
            <div class="panel-body">
              <div class="logContainer">
                <table class="table table-striped logs">
                  <thead>
                      <tr>
                          <th class="col1">Date</th>
                          <th class="col2">Status</th>
                          <th class="col3">Log</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="log in logs">
                          <td class="col1">{{ log.time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                          <td class="col2 status {{log.status}}">{{log.status}}</td>
                          <td class="col3">{{log.log}}</td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- MODAL CODE: credits -->
      <script type="text/ng-template" id="credits.html">
          <div class="modal-header">
              <h3 class="modal-title">Credits</h3>
          </div>
          <div class="modal-body">
            Built with ❤ and Javascript by http://fm.to.it.<br />
            Code and details are available on Github: https://git.io/vzM6S
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
          </div>
      </script>
      <!-- MODAL CODE: code -->
      <script type="text/ng-template" id="codeInfo.html">
          <div class="modal-header">
              <h3 class="modal-title">Information</h3>
          </div>
          <div class="modal-body">
            <h2>Javascript tips</h2>
            <p>Tips for JS</p>
            <p>Tips for JS</p>
            <p>Tips for JS</p>
            <h3>Adding libraries</h3>
            <p>Tips for JS</p>
            <p>Tips for JS</p>
            <p>Tips for JS</p>
            <p>Tips for JS</p>
            <p>Tips for JS</p>
            <p>Tips for JS</p>
            <p>Tips for JS</p>
            <p>Tips for JS</p>
            <h2>XLST tips</h2>
            <p>Tips for XLST</p>
            <p>Tips for XLST</p>
            <p>Tips for XLST</p>
            <p>Tips for XLST</p>
            <p>Tips for XLST</p>
            <p>Tips for XLST</p>
            <p>Tips for XLST</p>
            <p>Tips for XLST</p>
            <p>Tips for XLST</p>
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
          </div>
      </script>


    </div>

    <!-- File dialogs -->
    <input style="display:none;" id="openFile" type="file" />
    <input style="display:none;" id="saveAs" type="file" nwsaveas />
  </body>
</html>
